
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  
  background-color: rgb(250, 221, 91);
}

.topnav {
  background-color: #333;
  top: 0;
  width: 100%;
  text-align: center
}

.topnav a {
  float: center;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 3px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width:100px;
  padding: 1px;
  height: 100%;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.filterButton {
  width:auto;
  padding: 5px;
  height: 100%;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.filters {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 180px;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);

}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header{
  margin-top:20px;
  
  margin-bottom:90px;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 20%;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* Responsive columns */
@media screen and  (min-width: 600px) and (max-width: 1000px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.img-fit {
  height:100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 480px) {
  .wrap{
    width: 90%;
  }
  

.filters {
  justify-content: space-evenly;
  
  width: 100%;

}
  
}